.App {
  text-align: center;
}

.Navbar{
  background-color: #002D72;
  color: #FF5910;
  padding: 15px;
  font-size: 25px;
  
}

.Navbar h3 {
  margin: 0;
}

.Dashboard {
  background-color: #002D72;
  color: #FF5910;
  width: 50%;
  margin-left: 25%;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.Position {
  background-color: #002D72;
  color: #FF5910;
  width: 50%;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.choice-group {
  text-align: left;
}

.Card {
  background-color: #002D72;
  color: #FF5910;
  width: 30%;
  padding: 13px;
  margin: 10px; 
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}